.user{
    display: flex;
    cursor: pointer;

    .highlight{
        width: 0.4rem;
        background-color: rgb(32, 151, 255);
    }

    img{
        border-radius: 50%;
        width: 55px;
        height: 55px;
        align-self: center;
        margin: 1rem 0.3rem 1rem;
    }

    .username, .lastmsg{
        padding-left: 0.25rem;
        width: 280px;
        margin: 1rem 0 0;
    }

    .username{
        padding-top: 0.5rem;
        font-weight: bold;
    }

    .lastmsg{
        opacity: 50%;
        line-height: 1rem;
        overflow: hidden;
        text-overflow: ellipsis;    
        white-space: nowrap;
        margin-top: 0.5rem;
    }

    @media (max-width: 805px) {
        .lastmsg{
            width: 150px;
        }
    }
}